.page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: min(100%, 100vw);
    max-height: min(100%, 100vh);
    overflow: hidden;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 3.5rem 1fr 3.5rem;
    grid-template-areas: 'title header'
        'sidebar main'
        'footer main ';
}

.title {
    grid-area: title;
    background-color: rgba(5, 39, 103);
    display: flex;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

    .title h2 {
        margin: auto;
        font-size: 24px;
    }

header {
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

    header ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        header ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        header ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a0647;
    border-top: 1px solid #d6d5d5;
    color: #fff;
}

    footer a {
        color: #fff;
    }

aside {
    grid-area: sidebar;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

main {
    grid-area: main;
    overflow: auto;
    display: flex;
    flex-flow: column;
    padding: 1rem;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
